body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 5px;
  }
  
  .navbar button {
    float: right;
    display: block;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #45a049;
  }